@import url("./fonts/goldfish.css");

*
{
	margin: 0px;
}

html
{
	color: #EEE;
	font-size: 18px;
	font-family: goldfish;
}

body
{
	width: 480px;
	height: 270px;
	overflow: hidden;
	
	background-color: #0C0C0C;
}

a
{
	color: inherit;
}

ul
{
	padding: 0px;
	list-style-type: none;
}

#game
{
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	margin: auto;
	position: fixed;
}

#game > .view
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#game > canvas.view
{
	background-color: #222;
}

#game > #titlescreen.view
{
	z-index: 4;
	
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	margin: auto;
	width: 480px;
	height: 270px;
	padding: 2rem;
	position: absolute;
	box-sizing: border-box;
	
	text-align: center;
	border-radius: 4px;
	background-color: rgba(231, 76, 60, 0.85);
}

#game > #titlescreen.view > h1
{
	font-size: 2rem;
}

#game > #titlescreen.view > ul
{
	margin-top: 1rem;
}

#game > #titlescreen.view > ul > li
{
	margin: 0.5rem;
}

#game > #titlescreen.view > ul > li::before
{
	content: "> ";
}

#game > #overhead.view
{
	z-index: 1;
}

#game > #overhead.view > #shielding
{
	top: 1rem;
	left: 1rem;
	position: absolute;
}

@media(min-aspect-ratio: 16/9)
{
	#game
	{
		height: 100vh;
		width: 177.77vh;
	}
}

@media(max-aspect-ratio: 16/9)
{
	#game
	{
		width: 100vw;
		height: 56.25vw;
	}
}

@media(max-width: 480px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		left: auto;
		right: auto;
	}
}

@media(max-height: 270px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		top: auto;
		bottom: auto;
	}
}