@import url("./fonts/goldfish.css");

*
{
	margin: 0px;
}

html
{
	color: #EEE;
	font-size: 18px;
	font-family: goldfish;
}

body
{
	width: 480px;
	height: 270px;
	overflow: hidden;
	
	background-color: #0C0C0C;
}

#game
{
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	margin: auto;
	position: fixed;
}

#game > .view
{
	width: 100%;
	height: 100%;
}

canvas
{
	background-color: #222;
}

#debug
{
	top: 1rem;
	left: 1rem;
	z-index: 100;
	position: absolute;
}

@media(min-aspect-ratio: 16/9)
{
	#game
	{
		height: 100vh;
		width: 177.77vh;
	}
}

@media(max-aspect-ratio: 16/9)
{
	#game
	{
		width: 100vw;
		height: 56.25vw;
	}
}

@media(max-width: 480px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		left: auto;
		right: auto;
	}
}

@media(max-height: 270px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		top: auto;
		bottom: auto;
	}
}